flows.json
[{"id":"406b540c.e12d7c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1bd404f8.6e1d6b","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ad51678f.943bf8","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"3eb20d7a.6a6eb2","type":"rpi-gpio out","z":"406b540c.e12d7c","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":420,"y":300,"wires":[]},{"id":"340581f1.f3aaae","type":"debug","z":"406b540c.e12d7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":400,"y":240,"wires":[]},{"id":"9b8a7c9e.4a3af","type":"rpi-gpio in","z":"406b540c.e12d7c","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":130,"y":320,"wires":[["340581f1.f3aaae","3eb20d7a.6a6eb2"]]},{"id":"6ebf5398.931eac","type":"inject","z":"1bd404f8.6e1d6b","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[["4006206b.9a953"]]},{"id":"4006206b.9a953","type":"function","z":"1bd404f8.6e1d6b","name":"Payload","func":"msg.headers={\n    deviceKey:\"Ls0gVbEq8f5kYkAq\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":280,"wires":[["ecbdad84.1cd4c"]]},{"id":"ecbdad84.1cd4c","type":"http request","z":"1bd404f8.6e1d6b","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D2pzq4ff/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":510,"y":300,"wires":[["b09f2d4d.30672","bdb31fef.3e8b6"]]},{"id":"b09f2d4d.30672","type":"http response","z":"1bd404f8.6e1d6b","name":"","statusCode":"","headers":{},"x":670,"y":280,"wires":[]},{"id":"bdb31fef.3e8b6","type":"debug","z":"1bd404f8.6e1d6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":540,"wires":[]},{"id":"55cc7486.8536cc","type":"inject","z":"ad51678f.943bf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":220,"wires":[["bc3464d1.953678"]]},{"id":"bc3464d1.953678","type":"function","z":"ad51678f.943bf8","name":"Payload","func":"msg.headers={\n    deviceKey:\"Ls0gVbEq8f5kYkAq\"\n};\nmsg.payload=\"Temperature,,25\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":220,"wires":[["36442f97.99771"]]},{"id":"36442f97.99771","type":"http request","z":"ad51678f.943bf8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/D2pzq4ff/datapoints.csv","tls":"","proxy":"","authType":"","x":520,"y":240,"wires":[["c3d922fc.67f7","890ddd2c.b4c5a"]]},{"id":"c3d922fc.67f7","type":"debug","z":"ad51678f.943bf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":160,"wires":[]},{"id":"890ddd2c.b4c5a","type":"http response","z":"ad51678f.943bf8","name":"","statusCode":"","headers":{},"x":660,"y":340,"wires":[]}]